.autocomplete-list li{
  list-style-type: none;
}
.autocomplete-list a{
  text-decoration: none;
  color: #6c6c6c;
}
.autocomplete-list{
  padding: 0;
  /* text-decoration: none; */
  list-style: none;
  max-height: 196px;
  min-height: 196px;
  overflow: auto;
}
.active{
  background: #cccccc;
}