.main-wrapper {
	background: url('../../assets/images/Bg.png');
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
}
.right-content-wrapper {
	text-align: center;
    margin: 4% auto;
    width: 41%;
}
.form-wrapper {
	padding: 25px 40px;
}
.title {
	font-size: 14px;
	padding-top: 20px;
	color: #6c6c6c;
}
:host::ng-deep .mat-form-field-wrapper {
	margin-top: 20px;
}
.remember {
	text-align: left;
	color: #6c6c6c;
}
/* label color onfocus*/

:host::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
	color: #6c6c6c;
}
/*caret color onfocus*/

:host::ng-deep .mat-input-element:focus {
	caret-color: #6c6c6c;
	color: #6c6c6c;
	letter-spacing: 0.4px;
}
:host::ng-deep .mat-form-field-ripple {
	background-color: unset !important;
}
.login{
	width: 110px;
	height: 40px;
	background-image: linear-gradient(to right, #1caad8 , #36c6a0);
	color: #ffffff;
	cursor: pointer;
}
.demo {
	width: 110px;
	height: 40px;
	background-color: #cccccc;
	color: #ffffff;
	cursor: pointer;
}
.form-buttons {
	padding-top: 30px;
}
.login-wrapper {
	border-right: 1px solid #eeeeee;
	display: inline-block;
}
.demo-wrapper {
	display: inline-block;
}
hr {
	width: 85%;
}
.microsoft {
	background: url('../../assets/images/ms_logo.png');
	background-repeat: no-repeat;
	width: 110px;
	height: 30px;
	border: 1px solid #d8d6d6;
}
/* The container */
.container {
	display: block;
	position: relative;
	padding-left: 20px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* Hide the browser's default checkbox */
.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 13px;
	width: 13px;
	border: 1px solid #646464;
}
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
	background-color: #2196F3;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
	display: block;
}
/* Style the checkmark/indicator */
.container .checkmark:after {
	left: 3px;
	top: 0px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
label {
	font-weight: unset;
	font-size: 12px;
	margin-bottom: 0;
}
/*checkbox-end*/
.signin-text{
	margin-top: 20px;
}
.circle {
	height: 20px;
	width: 30px;
	height: 30px;
	line-height: 2;
	border-radius: 50%;
	color: #6c6c6c;
	text-align: center;
	border: 1px solid #eeeeee;
	background: #ffffff;
	color: #6c6c6c;
	position: absolute;
	top: 7px;
    left: 47%;
}
.wrapper {
	position: relative;
}
:host::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
	background-color: #eeeeee;
}
:host::ng-deep.mat-form-field-appearance-legacy .mat-form-field-infix{
	text-align: left;
}
button {
	margin-right: 4px;
}
/* #vis {
	height: 100%;
	margin: 0;
} */
@media only screen and (max-width: 600px) {
	.form-wrapper {
		padding: 0;
	}
	.form-buttons {
		padding-left: 0;
		padding-right: 0;
	}
	.wrapper,
	.right-content-wrapper,
	.main-wrapper {
		padding: 0;
	}
	.right-content-wrapper {
		width: unset;
	}
	.circle {
		top: -12px;
		left: 46%;
	}
	hr {
		width: unset;
	}
}