/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

@font-face {
    font-family: "Montserrat-Regular";
    src:url("assets/fonts/Montserrat-Regular.ttf");
}
@font-face {
    font-family: "Montserrat-Light";
    src:url("assets/fonts/Montserrat-Light.ttf");
}
body{
    margin: 0;
    padding: 0;
    background: url("assets/images/Bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    line-height: unset;
    font-size: 12px;
    color: #6c6c6c;
    overflow-x:hidden;
}
html{
    overflow-x: hidden;
}
body,.mat-option,.mat-dialog-title,.mat-table,.mat-select,.mat-card,.mat-tab-label,.mat-tab-group,.mat-button, .mat-fab, .mat-flat-button, .mat-icon-button, .mat-mini-fab, .mat-raised-button, .mat-stroked-button{
    font-family: "Montserrat-Regular";
}
.mat-form-field{
    display: block !important;
    font-family: "Montserrat-Regular";
}
.mat-menu-item{
    font-size: 12px !important;
    font-family: "Montserrat-Regular" !important;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-image: linear-gradient(to right, #1caad8 , #36c6a0);
}
/* mat-underline of mat-tab size*/
.mat-tab-label{
    min-width: 100px!important;
    padding: 0!important;
    margin: 0 11px;
    font-size: 12px;
}
/* mat-underline of mat-tab size*/
/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 20px;
    z-index: 999999999999999;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right, #1caad8 , #36c6a0);; 
    border-radius: 20px;
  }
   /* ::-webkit-scrollbar:hover{
      width: 20px !important;
      height: 20px !important;
  }

    div:hover::-webkit-scrollbar-corner {
        width: 20px;
    } */

  .red-snackbar{
    color: rgb(224, 69, 69);
    background-color: #ffffff;
    position: absolute;
    top: -23px;
    right: 0;
    /* transform: translate('-50%'); */
    text-align: center;
    box-shadow: unset;
    height: 10px;
    -webkit-animation: fadeinout 10s linear forwards;
    animation: fadeinout 10s linear forwards;
  }
  @-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
  }
  
  @keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
  }
  .green-snackbar{
    color: rgb(69, 224, 115);
    position: absolute;
    top: -23px;
    height: 10px;
    box-shadow: unset;
    right: 0;
    background-color: #ffffff;
    transform: translate('-50%');
    text-align: center;
  }
  .grey-snackbar{
    color: rgb(138, 141, 139);
    position: absolute;
    top: -25px;
    height: 10px;
    box-shadow: unset;
    right: 0;
    background-color: #ffffff;
    transform: translate('-50%');
    text-align: center;
  }
  .btn{
      font-size: 12px;
  }
  /* td{
      max-width: 125px;
  } */
  img::selection{
      background: transparent !important;
  }
  input::-webkit-autofill {
    background-color: #ffffff!important;
    background: #ffffff;
}
padding0{
    padding: 0;
}
.displayb{
    display: block;
}
.displayn{
    display: none;
}
.main-wrapper,.sidebar-wrapper{
    padding: 0;
}
input:-internal-autofill-selected {
    background-color:#ffffff !important;
}
/*craft-dialog*/
.close{
    background: unset !important;
    font-weight: unset !important;
    min-width: 37px !important;
    border-radius: 20px !important;
    position: absolute;
    top: 0;
    right: 0;
}
.dialog-button-wrapper{
    /* padding-bottom: 20px !important;
        padding-right: 26px; */
}
.dialog-button-wrapper .mat-button{
    background: unset!important;
    background-color: unset!important;
}
/*craft-dialog*/
.mat-autocomplete-panel.mat-autocomplete-visible{
    top: 18px !important;
    top: -15px !important;
    border-bottom-left-radius: 14px !important;
    padding-top: 15px !important;
    border-bottom-right-radius: 14px !important;
    box-shadow: 0px 0px 2px 2px #eeeeee !important;
}
.mat-autocomplete-panel{
    overflow: hidden !important;
}
.body .input{
    box-shadow: 4px -3px 9px -9px black !important;
}
.width100{
    width:100%;
}
.sidebar-open{
    margin-left: 0;
    transition: all 1s ease-in-out;
    padding: 0;
  }
  .sidebar-close{
    margin-left: -16.66666667%;
    transition: all 1s ease-in-out;
  }
  /*BAR CHART STYLES*/
  svg {
    /* padding: 20px 40px; */
  }

  .axis path,
  .axis line {
    /* fill: none; */
    stroke: black;
    shape-rendering: crispEdges;
  }

  text,
  .axis text {
    /* font-size: 10px !important; */
    /* font-family: 'Times New Roman', Times, serif; */
  }

  rect:hover {
    fill: orange;
  }
  .toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid rgb(10, 0, 12);
    padding: 14px;
    text-align: center;
    z-index: 9999;
  }
  .svg-container {
    display: inline-block;
    /* position: relative; */
    width: 100%;
    /* padding-bottom: 47%; */
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
  /* .y.axis line {
    fill: none;
  }

  .x.axis line {
    fill: none;
    stroke: #e0e0e0;
    shape-rendering: crispEdges;
  } */

  .axis path {
    display: none;
  }

  .brush .extent {
    fill-opacity: .125;
    shape-rendering: crispEdges;
  }

  .resize {
    display: inline !important; /* show when empty */
    fill: #7A7A7A;
    fill-opacity: 1;
    stroke: #7A7A7A;
    stroke-width: 2px;
  }

  .bar {
    /*shape-rendering: crispEdges;*/
  }
  div.tooltip {	
    position: absolute;			
    text-align: center;			
    /* width: 80px;					
    height: 15px;				 */
    font-size: 10px;
    color: #000000;	
    border-radius: 2px;
    padding: 2px;
    /* background: lightsteelblue;	 */
    border: 0;		
    pointer-events: none;			
}
  /*Bubble chart styles */
  .bubbles {
    stroke-width: 2px;
    stroke: white;
  }
  .bubbles:hover {
    stroke: black;
  }
  /*Bubble chart styles*/
  /*Horizontal barcgart*/
  svg {
    width: 100%;
    height: 100%;
    position: center;
}

.toolTip {
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px;
    padding: 5px;
    text-align: center;
}

/* text {
    font: 10px;
    color: white;
} */
text.value {
    /* font-size: 120%; */
    fill: white;
}

.axisHorizontal path{
    /* fill: none; */
}

.axisHorizontal .tick line {
    stroke-width: 1;
    stroke: rgba(0, 0, 0, 0.2);
}

.bar {
    /* fill: steelblue; */
    fill-opacity: .9;
}
/*Horizontal Bar chart*/

/*Line chart*/
path { 
    /* stroke: steelblue;
      stroke-width: 2; */
      /* fill: none; */
  }
  
  .axis path,
  .axis line {
      /* fill: none; */
      stroke: grey;
      stroke-width: 1;
      shape-rendering: crispEdges;
  }
  
  
  circle {
      cursor: pointer;
      /* fill: steelblue; */
  }
/*Line chart*/
/*Histogram*/
 .bar rect {
    /* fill: steelblue; */
    shape-rendering: crispEdges;
  }
  
  .bar text {
    /* fill: rgb(24, 13, 13); */
  }
  
  .axis path, .axis line {
    /* fill: none; */
    stroke: #000;
    shape-rendering: crispEdges;
  }
/*Histogram*/
.label{
    font-weight: unset;
}