/*options menu*/
.options-menu{
  background-color: #ffffff;
  border: none;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1), 0 0px 5px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 50%;
  top: 12px;
  padding: 6px;
  left: 14px;
  z-index: 9999;
  border-radius: 3px;
  cursor: pointer;
}
.share-img,.download-img,.clipboard-img{
   cursor: pointer;
   text-align: center;
}
.threedots-img{
   position: absolute;
   top: 10px;
   left: 12px;
   cursor: pointer;
   z-index: 99;
}
.close-img{
   position: absolute;
   top: 11px;
   right: 20px;
   cursor: pointer;
   z-index: 99;
}
.flip-img{
   position: absolute;
   bottom: -233px;
   right: 23px;
   cursor: pointer;
   z-index: 99;
}
/*options-menu*/
/*Craft Button styles*/
.title{
  display: inline;
}
.button-wrapper{
   text-align: center;
   padding: 4px;
}
.title-div,.story-title-div{
  padding:10px 0 0 0;
  height: 39px;
}
.save-story,.clear-story,.close-story,.refresh{
  background-image: linear-gradient(to right, #1caad8 , #36c6a0);
  color: #ffffff;
  float: right;
  display: inline;
  margin-right: 5px;
}
/*Craft Button styles*/
.stories-text-wrapper{
   padding:0;
}
.recent-stories-wrapper{
  padding: 0;
}
.stories-text-wrapper p{
  padding-top: 10px;
  margin: 0;
  padding-left: 2px;
  font-size: 14px;
}
.table>thead>tr>th,.table>tbody>tr>td{
   padding: 0;
}
:host::ng-deep .cdk-overlay-pane{
   margin: auto 32% !important;
   position: unset !important;
}
.table td {
  text-align: left;
}
.table>thead>tr>th,.table>tbody>tr>td{
  padding: 0;
}
/***flipcard functionality***/
.tp-box {
  position: relative; 
  height: 230px;
  transform-style: preserve-3d; 
  transition: transform 1s;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
	0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 3px;
  border-radius: 4px;
  }
.tp-box__side {
  backface-visibility: hidden;
  text-align: center;
  cursor: pointer; 
  user-select: none;
  z-index: 99;
  }
.tp-box__back {
  transform: rotateY(179.9deg);
  position: absolute;
  top: 7px;
  left: 0px;
  padding:0;
  }
/***flipcard functionality***/
.example-list {
	list-style-type: none;
	padding: 0;
  }
.example-list li {
	display: table-cell;
	padding: 4px;
  }
.example-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    padding: 0;
    min-height: calc( 100vh - 143px );
    max-height: calc( 100vh - 143px );
    overflow-y: auto;
    padding-top: 5px !important;
  }
.example-box {
  width: 33.3%;
	cursor: move;
  height: 230px;
	z-index: 1;
	transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  padding: 6px;
  }
.inner-example-box{
    width: 100%;
    padding: 0;
    height: 230px;
    cursor: move;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  }
.cdk-drag-preview {
	box-sizing: border-box;
	border-radius: 4px;
  }
.cdk-drag-placeholder {
	opacity: .3;
  }
.cdk-drag-animating {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
.tp-wrapper {
    perspective: 800px;
    padding: 0;
  }
.hover-div{
    position: absolute;
    top: 0px;
 }
 thead>tr{
  background-image: linear-gradient(to right, #1caad8 , #36c6a0);
 }
 .response-image{
   height: 172px;
   object-fit: fill;
   width: 100%;
 }
 .chart-title,.chart-description{
   outline: none;
   border: none;
   width: 100%;
   text-align: center;
   padding: 2px;
   background: transparent;
   text-overflow: ellipsis;
 }
 .chart-description{
   text-align: left;
 }
 .chart-description::placeholder{
   color: #cccccc;
 }
 .table>thead>tr>th{
   border: unset;
   text-align:center;
   font-weight: unset;
   padding: 4px;
 }
 .table>tbody>tr>td{
   font-weight: unset;
   text-align:left;
   padding: 4px;
 }
 /*Fixed header table*/
 .tableFixHead {
  overflow-y: auto;
  height: 172px;
  overflow-x: auto;
}
.tableFixHead table {
  border-collapse: collapse;
  width: 100%;
}
.tableFixHead th,
.tableFixHead td {
  padding: 8px 16px;
}
.tableFixHead th {
  position: sticky;
  background:inherit;
  top: 0;
  color: #ffffff;
}
/*Fixed header table*/
.wrapper{
  padding: 0 35px;
}
.clear-story:focus,.save-story:focus{
  outline: none;
}
.title span{
  padding-left: 10px;
  font-size: 10px;
}
.right-align{
  text-align: right !important;
}
.sidebar-wrapper{
  float: left;
  width: 16.66666667%;
}
.right-content-wrapper{
  padding: 0;
  float: left;
}
.width87{
  width: 83.33333333%;
}
.backend-image,.kpi-card{
  min-height: 172px;
  max-height: 173px;
  overflow: auto;
}
.name{
  font-size: 16px;
}
.value{
  font-size: 36px!important;
}
.kpi-card{
  padding-top: 34px!important;
}
 /*Fixed header table*/
 .tableFixHead {
  min-height: 172px;
  max-height: 172px;
  overflow-y: auto;
  overflow-x: hidden;
}

.tableFixHead table {
  /* border-collapse: collapse; */
  width: 100%;
}
.tableFixHead th,
.tableFixHead td {
  padding: 8px 16px;
}
.tableFixHead th {
  position: sticky;
  color: #ffffff;
  top: 0;
  text-align: center;
  background-image: linear-gradient(to right, #1caad8 , #36c6a0);
}
/*Fixed header table*/
.table-wrapper{
  padding-top: 8px;
}